@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
* , body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.bhw-list
{
    padding: 20px;
}

.bhw-list .tabletitle-and-button .bhwtable-title
{
    font-weight: bold;
}

.bhw-list .tabletitle-and-button .btn-add
{
    margin-left:auto;
}

.btn-add {
    width: 100px;
    position: relative;
    background-color:#15c3c7;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
}


.modal-content {
 margin: 25px auto;
 border: 2px solid #888;
 width: 45%;
 font-size: 12px;
 border-radius: 10px;
}

.modal-body {
 margin: 0px 20px;
 position: relative;
}

.modal input[readonly]{
    background-color: #e8f0fe;
   }

 
.modal .modal-content .control-label{
    text-transform: uppercase;
  font-weight: 600;
  margin-top: 3px;
  color: rgb(90, 90, 90);

}

.row-space  {
 justify-content: space-between;
}

.row {
 display: flex;
 justify-content: center;
}

.modal .modal-content .info-head{
 position: absolute;
 transform: rotate(-90deg) translateX(-45px) translateY(-120px);
 background-color: #2ae88a;
 padding: 8px 10px;
 border-radius: 5px;
 color: #ffffff;
}

.bhw-modal input[type=text] {
    text-transform: capitalize;
}