

.counter{
  box-sizing: border-box;
  height: 100px;
  width: 300px;
  margin: 10px 0px 10px 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #08aeea , #2ae88a);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.counter p{
  padding: 5px 5px 5px 5px;
  line-height: 1;
  color: #ffff;
}

.counter i{
  font-size: 30px;
  color: #fff;
}

.counter .icon{
  height: 65px;
  width: 65px;
  border: 1px solid;
  border-radius: 50px;
  margin: 0px 10px 0px 10px;
  border-color: #fff;
}
.counter .total{
  font-size: 40px;
}

.event-list{
  width: 500px;
}
.event-upcomming{
  border: 1px solid;
  display: none;
}

#myChart{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-dtr{
  background: linear-gradient(-45deg, #2ae88a 0%, #08aeea 100%) border-box;
  border-radius: 5px;  
  color: white;
  margin-top: 15px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  width: 55%;
  opacity: 0.9;
}

.btn-dtr:hover {
  opacity: 1;
}

.dtr .tab-content input[type=time]{
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 10px;
  border:  1px solid; 
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1rem;
}

.dtr .tab-content input[type=number]{
  width: 45%;
  height: 40px; 
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border:  1px solid; 
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1rem;
}



/*//#2ae88a
//#38c77f
//#08aeea
//#007bff
