/*health consultation*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
* , body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*BLOCK TITLE .NO MARGIN PADDING*/
h3.block-title {
    font-size: 22px;
    color: #fff;
    background: transparent;
}

.block-title {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1.75rem;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75;
}

.btn-add{
  width:100px;
  position: relative;
  background: linear-gradient(-45deg, #2ae88a 0%, #08aeea 100%) border-box;
  padding: 5px 10px;
  border-radius: 3px;
  color: #ffffff;
}
/*BLOCK TITLE .NO MARGIN PADDING*/

.consult-pane {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  width: 95%;
  padding:10px; 
  box-shadow: 1px 1px 5px 0px grey;
  height: auto;
}


.consult-pane .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #2ae88a;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  font-weight: bolder;

}

.consult-pane .nav-link
  {
    color: #495057;
    
  }

/*CONSULT DATATABLE*/
.consulttable-title {
  color: #2e2d2d;
  text-align: start;
}

 .consul_view{
    color: #007bff;
}

 .consul_edit{
    color: #ffc107;
}

 .consul_delete{
    color: #dc3545;
}

.manage {
  margin: 2px;
}

.consultation-list {
  background: #fff;
  padding: 10px 10px 10px 0px;
  padding-bottom: 2px;
  border-radius: 2px;
  width: 100%;

}
.bhms-box-shadow {
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
  box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
  background: #fff;
  margin-top: 20px;
}

.consultation-list #consultdatatable{
  width: 100%;
  background-color: #ffffff;
}

label {
  font-size: 13px;
}

.consultation-list .dataTables_info
{
  font-size: 12px;
}

.consultation-list .pagination
{
  font-size: 12px;
}

table.table tbody td, table.table thead th {
  font-size: 13px;
}

/*ADD CONSULTATION MODAL*/
.consul-add input[type=text], select{
  width: 100%;
  height: auto;
  padding: 5px 20px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 25px;
}

.consul-add .modal-content .modal-body #consultation_type
{
  width: 50%;
}

#addconsul .modal-header {
  background-color: #2ae88a;
  color: #ffffff;
}

#addconsul textarea {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 10px;
  
}

#addconsul textarea:focus {
  height: 100%;
}

#addconsul .details  {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3px;
  color: rgb(90, 90, 90);
  font-size: 13px;
}

#addconsul input[type=date]{
  text-transform: uppercase;
  width: 100%;
  height: auto;
  padding: 5px 20px;
  margin: 2px 5px 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 25px;
}

.form-search{
  margin: 10px 0 0 0;
  position: relative;
}

.consul-add #hc-search-input{
  box-shadow: 1px 1px 5px grey;
  border: 1px solid #ccc;
  padding: 5px 8px;
  border-radius: 10px;
  width: 70%;
}

input:focus{
  outline: none;
  border: 2px solid #08aeea;
}

.hc-search-btn {
  margin: 0px 8px 0 0px;
  box-shadow: 1px 1px 5px 0px grey;
  border: 2px solid #08aeea;
  background-color: #08aeea;
  padding: 9px 10px;
  border-radius: 0 10px 10px 0;
  color: #ffffff;
}

/* .consul-add .res_prof input{
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  outline: none;
} */

/*VIEW CONSULTATION MODAL*/
.consul-view input[type=text], select{
  width: 100%;
  height: auto;
  padding: 5px 20px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 25px;
}

#viewconsul .modal-header {
  background-color: #007bff;
  color: #ffffff;
}

#viewconsul textarea {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 10px;
  
}

#viewconsul textarea:focus {
  height: 100%;
}

#viewconsul .details  {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3px;
  color: rgb(90, 90, 90);
  font-size: 13px;
}

#viewconsul input[type=date]{
  text-transform: uppercase;
  width: 100%;
  height: auto;
  padding: 5px 20px;
  margin: 2px 5px 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 25px;
}

input:focus{
  outline: none;
  border: 2px solid #08aeea;
}


.consul-view .res_prof input{
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  outline: none;
}

/*EDIT CONSULTATION MODAL*/
.consul-edit input[type=text], select{
  width: 100%;
  height: auto;
  padding: 5px 20px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 25px;
}

#editconsul .modal-header {
  background-color: #ffc107;
  color: #ffffff;
}

#editconsul textarea {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 10px;
  
}

#editconsul textarea:focus {
  height: 100%;
}

#editconsul .details  {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3px;
  color: rgb(90, 90, 90);
  font-size: 13px;
}

#editconsul input[type=date]{
  text-transform: uppercase;
  width: 100%;
  height: auto;
  padding: 5px 20px;
  margin: 2px 5px 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 25px;
}

input:focus{
  outline: none;
  border: 2px solid #08aeea;
}


.consul-edit .res_prof input{
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  outline: none;
}

.modal-content {
  margin: 25px auto;
  border: 2px solid #888;
  width: auto;
  font-size: 12px;
  border-radius: 10px;
}
