@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
*  {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    overflow-x: hidden;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: stretch;
    background-color: #E7F3ED;
}

#content {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    height: calc(100vh - 0px);
    transition: all 0.5s ease;
    margin: 0; 
    background-color: #E7F3ED;
  }
  
  #content.close{
    left: 60px;
    width: calc(100% - 60px);
    background-color: #E7F3ED;
  }
