/*Resident Profile*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
* , body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h3.block-title {
  font-size: 22px;
  color: #fff;
  background: transparent;
}

.block-title {
-ms-flex: 1 1 auto;
flex: 1 1 auto;
min-height: 1.75rem;
margin: 0;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.75;
}

.no-margin-padding {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 5px 20px;
  background: #2e2d2d;
}

/* .head-resprof .form-search{
  margin: 10px 0 0 0;
}

.head-resprof .form-search input{
  box-shadow: 1px 1px 5px grey;
  border: 2px solid #08aeea;
  padding: 5px 8px;
  border-radius: 10px 0 0 10px;
}

.head-resprof .form-search input:focus{
  outline: none;
  border: 2px solid #08aeea;
}

.head-resprof .form-search .btn-search {
  margin: 0px 8px 0 0px;
  box-shadow: 1px 1px 5px 0px grey;
  border: 2px solid #08aeea;
  background-color: #08aeea;
  padding: 9px 10px;
  border-radius: 0 10px 10px 0;
  color: #ffffff;
}
 */
/* button {
  box-shadow: 1px 1px 5px grey;
} */
/*******************************
//Add resident button
*******************************/
.btn-add-res{
  margin-top: 10px, 10px;
  width: 120px;
  display: flex;
  box-shadow: 1px 1px 5px 0px grey;
  background-color: #2ae88a !important;
  border: 2px solid #2ae88a;
  padding: 5px 5px;
  border-radius: 10px;
  color: #ffffff;
}

.fa-user-plus{
  padding: 5px 0px;
}

.alert{
  position: fixed;
  width: auto;
  margin: 5px;
}

/*******************************
//Resident Table design
*******************************/

.container-title {
  color: #007bff;
}

table.table tbody td, 
table.table thead th {
  font-size: 14px;
}
.list-of-res {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 2px;
  border-radius: 2px;
}
.bhms-box-shadow {
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
  box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
  background: #fff;
  margin-top: 20px;
}

.list-of-res .tabletitle-and-button .restable-title
{
  font-weight: bold;
}


.list-of-res #datatable{
  width: 100%;
  background-color: #ffffff;
}

.list-of-res .view{
  color: #007bff;
}

.list-of-res .edit{
  color: #ffc107;
}

.list-of-res .delete{
  color: #dc3545;
}

.list-of-res .a-action:hover{
  text-decoration: underline;
}
.list-of-res .a-action .fas{
  padding: 0 5px 0 10px;
}



/*******************************
//Modal Design for Add Resident
*******************************/  
.res-add .modal-header {
  background-color: #2ae88a;
  color: #ffffff;
}

.add-resident input,
select {
  width: 150px;
  height: auto;
  padding: 5px 20px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 25px;
  
}
.btn-success
{
  background-color: #2ae88a;
}

.btn-outline-success {
  color: #2ae88a;
  border-color: #2ae88a;
}
.add-resident .date,
select {
  text-transform: uppercase;
}

.add-resident .details {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3px;
  color: rgb(90, 90, 90);
}

/*****************************************
//Modal Design for View Resident Profile
******************************************/
.res-view .modal-header {
  background-color: #007bff;
  color: #ffffff;
}


.res-view .modal-content .name{
  font-size: 16px;
}

.res-view .modal-content .name:nth-child(1){
  text-transform: capitalize;
}

.res-view .head-info{
  padding-bottom: 10px;
  border-bottom: 1px solid #6c757d;
}

.res-view .head-info .under-info strong{
  font-weight: 600;
  font-size: 20px;
}

.res-view .com-info strong{
  font-weight: 600;
  font-size: 20px;
}

.res-view .com-info .strong:nth-child(1){
  text-transform: capitalize;
}

.delete_res{
  background-color: red;
  color: white;
}

.res-view input{
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  margin: 2px 5px 5px 0px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  outline: none;
}

.res-edit .modal-header{
  background-color: #ffc107;
  color: #ffffff;
}

.btn-warning {
  color: white;
}